html {
  background-color: rgb(246, 246, 246);
}

.container {
  margin: 0 auto;
  max-width: 720px;
  padding: 15px 0;
  /* display: flex; */
}

a {
  text-decoration: none;
}

.button,
a.button,
a.button:visited,
a.button:link {
  -webkit-appearance: none;
  background-color: #00a2ff;
  color: #fff;
  border: 1px solid #00a2ff;
  text-align: center;
  text-decoration: none;
  line-height: 20px;
  cursor: pointer;
  outline: none;
  padding: 12px 12px 11px;
  border-radius: 0;
  display: inline-block;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-sizing: border-box;
}

.auth-section {
  border: 2px solid rgb(167, 167, 167);
  padding: 2em 3em 2em;
  max-width: 320px;
  margin: 0 auto;
  h1 {
    text-align: center;
    font-size: 1em;
    color: rgb(104, 104, 104);
  }
  .field {
    margin-bottom: 30px;
    h5 {
      color: rgb(129, 129, 129);
      font-size: 14px;
      margin-bottom: 0.4em;
    }
    input {
      cursor: auto;
    }

    input[type="text"],
    input[type="email"],
    input[type="number"],
    input[type="password"],
    textarea {
      width: 100%;
      min-height: 46px;
      box-sizing: border-box;
      border: 1px solid #d0d0d0;
      background: #fff;
      color: rgb(71, 71, 71);
      padding: 11px 14px;
      font-size: 0.9em;
      word-break: normal;
      outline: none;
      -webkit-appearance: none;
      border-radius: 0;
    }
  }
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: rgb(214, 208, 209);
}
.error-message {
  padding: 0.3em;
  font-size: 0.7em;
  color: rgb(255, 80, 10);
}
