.navbar {
  display: flex;
  box-sizing: border-box;
  color: white;
  background-color: #393034;
  h1 {
    padding-left: 1em;
  }

  a {
    color: white;
  }

  ul {
    margin: 0;
    display: flex;
    width: 100%;
    justify-content: flex-end;

    li {
      list-style: none;
      cursor: pointer;
      transition: all 0.2s ease-in;
      a {
        line-height: 4.5;
        padding: 2.2em 1em;
      }
    }
    li:last-child {
      margin-right: 3em;
    }
    li:hover {
      background-color: #292225;
    }
  }
}
